@page
@model RubberDuckStore.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Rubber Duck Debugging Store! </h1>
    <p>At our store, we believe that every programmer needs a trusty rubber duck by their side. Why? Because rubber ducks are excellent listeners!</p>
</div>
