@page
namespace RubberDuckStore
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At the Rubber Duck Debugging Store, we take privacy as seriously as a duck takes to water! </p>