@page
namespace RubberDuckStore
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At the Rubbber Duck Debugging Store, we take privacy as seriously as a Duck takes to water!</p>
